:root {
    box-sizing: border-box;
}

header {
    background-color: darkslateblue;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #cccccc;
}

a > img {
    height: 18rem;
    margin: 4px;
}

button {
    font-size: 1rem;
    color: white;
    background-image: linear-gradient(to bottom right, #216583, #ddd);
    background-color: #aba;
    border-radius: 10px;
    padding: 8px;
}

body {
background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80")
}