:root {
    box-sizing: border-box;
}


header, footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: url("http://4.bp.blogspot.com/-bPLE292Duac/TpMCPYsdcoI/AAAAAAAACB4/l12cj3KxMz0/s1600/millenium-falcon-at-asteroid-belt-713134.jpg");
    background-size: cover;
    }

footer {
    font-size: 1rem;
    color: white;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: yellow;
}

li {
    list-style-type: none;
}

.container {
    display: flex;
}

.nav {
    padding-right: 1rem;
}

.main img {
    margin: 60px;
    border: solid 3px yellow;
}